
/* sidebar */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    background: #212529;
 
}


/* sidebar styling */
.sidebar-nav{
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-nav li a:hover{
    background: #b90c0c;
}


/* main content */
#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 250px;
    overflow:auto;
    height: 100%
    
}

.big-header {
    color: #b90c0c;
    border-bottom: 1.5px solid;
    border-color: #9B9D9F;
}


.thumbnails {
    height: 200px;
    width: 370px;
    padding-right: 10px;
    position:relative;
}

.vid-text {
    /* margin: 0 auto; */
    position: relative;
}

.video-detail-1{
    display: block;
    width: 370px;
    position: static;
    float:left;    
}

.video-detail-2{
    display: block;
    width: 370px;
    position:absolute;
    right:25px;
}

.video-detail-3{ 
    display: block;
    width: 370px;
    position:absolute;
    left:375px; 
}


.video_container{

    display: flex;
    background: #ccc;
    justify-content: center;
    align-items: center;
    height: 500px;

}

.video_player{
    width: 100%;
}

.c_video{
    width: 100%;
    max-width: 800px;
}

.comment_section{
    padding-left: 320px;
    background: #ccc;
    width: 1250px;

}

.media_page{
    background: #ccc;
}

.profilebutton:hover{
    background: #b90c0c;
    color: white;
    cursor: pointer;
}


